<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" >
</head>
<body>
  <div class="center">
    <h1>Calculate</h1>
    <form>
      <div class="inputbox">
        <input type="text" required="required">
        <span>First Number</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required">
        <span>Second Number</span>
      </div>
      <div class="inputbox">
        <a href="/Result1" class="button"><input type="button" value="submit"></a>
      </div>
    </form>
  </div>

</body>
</html>
